.login-title {
    text-align: center;
}

.login-cards {
    text-align: center;
}

.login-card {
    text-align: center;
    margin: 10px;
    display: inline-flex;
    .header {
        justify-content: center;
    }
}

.login-form {
    width: 300px;
    text-align: center;
    display: inline-block;
}