<div class="banner">
    <div class="title">Questionnaire App</div>
    <div class="menu-item">
        <button mat-button class="home-menu-item" (click)="navigateToHome()">Home</button>
    </div>
    <div class="login-menu-item" *ngIf="!authenticationService.currentUserEmail">
        <button mat-button class="login-menu-item" (click)="navigateToLogin()">Login</button>
    </div>
    <div class="login-menu-item" *ngIf="authenticationService.currentUserEmail">
        <button mat-button class="login-menu-item" (click)="authenticationService.logout()">Logged in as
            {{authenticationService.currentUserEmail}} | Logout</button>
    </div>
</div>