.banner {
    display: inline-block;
}

.title {
    display: inline-block;
}

.menu-item {
    display: inline-block;
    margin-left: 20px;
}

.login-menu-item {
    display: inline-block;
    position: absolute;
    right: 20px;
}